.companions-catalog {
  background-color: #edeff6;
}

.companions-catalog__container {
  padding-top: 25px;
  margin-bottom: -60px;
  padding-bottom: 106px;
}

@media (min-width: @tablet-width) {
  .companions-catalog__container {
    width: 688px;
    margin: 0 auto;
    margin-bottom: -60px;
    padding-top: 46px;
    padding-bottom: 122px;
  }
}

@media (min-width: @desktop-width) {

  .companions-catalog__container {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: -60px;
    padding-top: 46px;
    padding-bottom: 137px;

    display: flex;
    justify-content: space-between;
    padding-top: 76px;
  }

  .companions-catalog__catalog-container {
    order: 1;
  }
}
